.panel{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5px;
    padding:5px;
    width:98%;
    border:1px lightgray solid;
    border-radius: 3px;
    background-color: #dee2e6;
    background-color: lightgray;
}

.panel-message {
    height: 400px;
    overflow-y: scroll;
}

li{
    list-style-type: none;
}
textarea.error {
    box-sizing: border-box;
    border: 2px solid red;
}
 
.error-msg {
    background-color: red;
    border-radius: 5px;
    color: white;
    display: inline;
    padding: 10px;
}