<!-- Use any element to open the sidenav -->
<div id="mySidenav" class="sidenav">
    <div class="panel bg-light" *ngIf="chatService.isLoggin()">
        {{ currentUser }}
        <button type="button" class="btn btn-danger" (click)="onLogout()">Deconnexion</button>
    </div>
    <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let user of mapUserNotificationsCount.keys()"
            (click)="onSelectUser(user)">
            <i class="fa fa-user"></i>
            {{user}}
            <span *ngIf="user !== currentUser">
                {{mapUserNotificationsCount.get(user)}}
            </span>
        </li>
    </ul>
</div>
